.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.brand{
  font-weight: bold;
  font-size: 26px !important;
}
.cover{
  background: url('./images/banner-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.footer{
  background-color: rgba(11, 11, 49, 0.959);
  color: #fff;
}
.image-container{
  position: relative;
  text-align: center;
  color: white;
}
.image-container .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(166, 187, 248, 0.11);
  height: 100%;
  display: none;
}
.image-container:hover .centered{
display: block;
}
.why{
  background: url('./images/map.png');
  background-size: cover;
}
.why .card{
  background-color: rgba(11, 11, 49, 0.959) ;
  color: #fff;
}
.ourButton{
  background-color: #ccc;
  border-radius: 30px;
  border:none;
  outline: none;
}